<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="csrf-param"content="authenticity_token">
    <script src="https://kit.fontawesome.com/f1f4eb41b3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"   href="/assets/stylesheets/application.css">
    <title>WebCampBackwndNew</title>

  </head>
  <body>
  	<p id="notice"></p>
  	<h1>Books</h1>

  	<table>
  	  <thead>
  	    <tr>
  	      <th>Title</th>
  	      <th>Body</th>
  	      <th colspan="3"></th>
  	    </tr>
  	  </thead>

  	  <tbody>
      <% @books.each do |book| %>
  	    <tr>
  	      <td><%= link_to book.title, books_path(book) %></td>
  	      <td><%= link_to book.body, books_path(book) %></td>
  	      <td><a class="" href="books/:id">show</a></td>
  	      <td><a class="" href="books/new">edit</a></td>
  	      <td>Destroy</td>
  	    </tr>

  	  </tbody>

      <%end%>

  	</table>
  	<h2>New book</h2>

  	<form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post">
  	  <input name="utf8" type="hidden" value="✓">
  	  <!--この✔何??-->
  	  <input type="hidden" name="authenticity_token" value="">
  	  <!--value未記載-->

  	  <div class="field">
  	    <label for="book_title">本のタイトル</label>
  	    <input type="text" namme="book[title]" id="book_title">

  	  </div>

  	  <div class="field">
  	    <label for="book_body">感想</label>
  	    <textarea class="booko_body" name="book[body]" id="book_body"></textarea>
  	  </div>

  	  <div class="actions">
  	    <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book">
  	    <!--data-disable-with？？？-->
  	  </div>


  	</form>


  </body>


</html>
